<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
    
    <div class="navbar">
        <div class="fade-in-container">
            <p class="welcome">Welcome to Noteify!</p>
            <form action="http://127.0.0.1:5000/" method="post">
                <button name="register" class="register-btn">Register</button>
            </form>
            <form action="http://127.0.0.1:5000/" method="post">
                <button name="login" class="login-btn">Login</button>
            </form>
        </div>
    </div>
    <p class="description">
        Noteify is a sleek and intuitive web application designed to help you effortlessly organize your notes. With its clean and user-friendly interface, you can easily create, edit, and manage your notes in a hassle-free manner. Whether you're a student, professional, or simply someone who loves jotting down ideas, Noteify provides the perfect platform to streamline your note-taking process. Try it out today and experience the joy of organized note-taking!
    </p>
    
</body>
</html>
